<!DOCTYPE html>
<html>
  <head>
    <title>VueJS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <ul>
      <% if staff_signed_in? %>
        <li>
          <%= link_to 'Staff Sign out', destroy_staff_session_path, method: :delete %>
        </li>
      <% else %>
        <% unless current_page?(new_staff_session_path) %>
          <li>
            <%= link_to 'Staff Sign in', new_staff_session_path %>
          </li>
        <% end %>

        <% unless current_page?(new_staff_registration_path) %>
          <li>
            <%= link_to 'Staff Sign up', new_staff_registration_path %>
          </li>
        <% end %>
      <% end %>

      <% if client_signed_in? %>
        <li>
          <%= link_to 'Client Sign out', destroy_client_session_path, method: :delete %>
        </li>
      <% else %>
        <% unless current_page?(new_client_session_path) %>
          <li>
            <%= link_to 'Client Sign in', new_client_session_path %>
          </li>
        <% end %>

        <% unless current_page?(new_client_registration_path) %>
          <li>
            <%= link_to 'Client Sign up', new_client_registration_path %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <% if current_client %>
      <%= stylesheet_pack_tag 'clients_application', media: 'all' %>
      <%= javascript_pack_tag 'clients_application' %>
    <% end %>

    <% if current_staff %>
      <%= stylesheet_pack_tag 'staffs_application', media: 'all' %>
      <%= javascript_pack_tag 'staffs_application' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
