<!DOCTYPE html>
<html>
<head>
  <title>VueJS</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if client_signed_in? %>
    <%= stylesheet_pack_tag 'clients_application', media: 'all' %>
    <%= javascript_pack_tag 'clients_application' %>

<!--    <ul>-->
<!--      <li>-->
        <%#= link_to 'Client Sign out', destroy_client_session_path, method: :delete %>
<!--      </li>-->
<!--    </ul>-->
  <% end %>
</head>

<body>
<%= yield %>
</body>
</html>
